{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="main-content">
    <div class="sub-container">
        <div class="center">
            <h1>Automate An Expense</h1>
        </div>
        <div id="automateExpenseContainer">
            <form id="automateExpenseForm" method="post">
                {% csrf_token %}
                <input type="text" id="title" name="title" placeholder="Enter a title"">
                <input type="number" step="0.01" name="amount" id="amount" placeholder="Enter an amount">
                <select name="category" id="">
                    <option value="">Select category</option>
                    {% for category in user_categories %}
                    <option value="{{category.title}}">{{category.title}}</option>
                    {% endfor %}
                </select>
                <select name="frequency" id="">
                    <option value="">Select frequency</option>
                    {% for choice in frequency_choices %}
                    <option value="{{choice.0}}">{{choice.1}}</option>
                    {% endfor %}
                </select>
                <textarea name="notes" id="" cols="30" rows="5" placeholder="Got something extra to say about this expense?"></textarea>
                <button id="createScheduledExpenseButton">Create Scheduled Expense</button>
            </form>
        </div>
        <div id="modalContainer" class="modal-container">
            <div class="modal">
                <h1>Expense Scheduled</h1>
                <p id="expenseScheduledNotification"></p>
                <div class="button-row">
                    <button id="okay">Okay</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block externaljs %}

<script>
const createScheduledExpenseButton = document.getElementById('createScheduledExpenseButton');
const modalContainer = document.getElementById('modalContainer');

document.addEventListener('click', (e) => {
    if(e.target.id === 'createScheduledExpenseButton'){
        e.preventDefault();
        const automateExpenseForm = document.getElementById('automateExpenseForm');
        if (!validateScheduleExpenseForm(automateExpenseForm)){
            return false;
        };
        const formData = new FormData(automateExpenseForm);
        const url = "{% url 'expenses:create_automated_expense' %}";
        fetch(url, {
            method: 'POST',
            body: formData,
            headers: {
                "X-CSRFToken": "{{csrf_token}}"
            }
        })
        .then(response => response.json())
        .then(data => {
            const expenseData = data['expense']['data'];
            document.getElementById('expenseScheduledNotification').innerText = `Your Expense Item '${expenseData['title']}' for ${expenseData['amount']} has been scheduled to be recorded ${data['expense']['frequency']}. `;
            modalContainer.classList.add('show');
        })
    }
    if(e.target.id === 'okay'){
        for(let element of automateExpenseForm.elements){
            element.value = '';
        }
        modalContainer.classList.remove('show');
    }
})

function validateScheduleExpenseForm(form){
    if(form.elements['title'].value === ''){
        alert("Title cannot be empty.");
        return false;
    }
    if(form.elements['amount'].value === ''){
        alert("Amount cannot be empty.");
        return false;
    }
    if(form.elements['category'].value === ''){
        alert("TYour expense item must have a category. Select Uncategorized under the category field if you want it uncategorized.");
        return false;
    }
    if(form.elements['frequency'].value === ''){
        alert("Frequency cannot be empty.");
        return false;
    }
    return true;
}

</script>

{% endblock externaljs %}

